# Afrita þessa skrá í .env og setja rétt gildi inn
# Ath að .env á ekki að fara á git. Þessar stillingar þarf að stilla sérstaklega á Heroku (Config Vars)
HOST=localhost
PORT=7777
DATABASE_URL=postgres://<notandi>:<lykilord>@localhost/<db-nafn>
SESSION_SECRET=<leyndarmal>
PEPPER=<piparstrengur>
ENVIRONMENT=development